.straightLine {
	border-top: 1px solid black;
}

.logo-customer {
	padding-top: 4px;
	display: inline-block;
}

.logo-proauto {
	padding-top: 4px;
	display: inline-block;
	float: right;
}

.customerHeaderContent {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-align: center;
	font-family: 'Exo', sans-serif;
	font-size: 50px;
	font-weight: 200;
	margin-top :100px;
	color: #990000;
}

.pageHeadings{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-align: center;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 200;
	color: black;
}

.informativeText{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	color: black;
}

.centerAligned{
	text-align: center;
}

.formcenter {
	 margin: 0 auto;
	 width:60%
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3633FF;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdownmenu:hover .dropbtn {
    background-color: #BDE6F1;
}

li.dropdownmenu {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdownmenu:hover .dropdown-content {
    display: block;
}

.active {
	background-color:#2DCDF0;
}