.straightLine {
	border-top: 1px solid black;
}

.logo-customer {
	padding-top: 4px;
	display: inline-block;
}

.logo-proauto {
	padding-top: 4px;
	display: inline-block;
	float: right;
}

.headerContent {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-align: center;
	font-family: 'Exo', sans-serif;
	font-size: 50px;
	font-weight: 200;
	color: #990000 !important;
}

.formcenter {
	width: 300px;
	height: 200px;
	margin: auto;
}